<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="SLOPlayer.xap">
    <system.webServer>
      <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
  </location>
  <location path="SLOEditor.xap">
    <system.webServer>
      <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
  </location>
  <location path="VCSCreator.xap">
        <system.webServer>
            <caching enabled="false" enableKernelCache="false" />
        </system.webServer>
    </location>
</configuration>
