<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="phpBBUrl" value="http://phpbb/phpbb3/" />-->
    <add key="phpBBUrl" value="http://cv.uoc.edu/app/phpBB3/api.php" />
  </appSettings>
  <connectionStrings>
    <add name="phpBB" connectionString="Server=PHPBB;Database=phpbb;Uid=root;Pwd=;"/>
  </connectionStrings>
</configuration>